.headerContainer {
  background-color: var(--footerBg);
  height: 5rem;
  border-bottom: 0.2rem solid var(--header-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div:first-child {
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--header-brand-border-color);
    background-color: var(--header-brand-bg);
    padding: 0 1rem 0 0.5rem;
    margin-left: 1rem;

    & > h1 {
      margin-left: 0.5rem;
      color: var(--header-brand-color);
    }
  }

  & > div:nth-child(2) {
    padding: 0.4rem 0.1rem 0.4rem 2rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--utilities-btn-bg);
    margin-right: 2rem;
    justify-content: space-around;
  }
}

.selectedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
