.headerContainer {
  background-color: var(--footerBg);
  height: 5rem;
  border-bottom: 0.2rem solid var(--header-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div:first-child {
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--header-brand-border-color);
    background-color: var(--header-brand-bg);
    padding: 0 1rem 0 0.5rem;
    margin-left: 1rem;

    & > h1 {
      margin-left: 0.5rem;
      color: var(--header-brand-color);
    }
  }

  & > div:nth-child(2) {
    padding: 0.4rem 0.1rem 0.4rem 2rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--utilities-btn-bg);
    margin-right: 2rem;
    justify-content: space-around;
  }
}

.selectedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.utilitiesModal {
  display: none;
}

@media (max-width: 742px) {
  .utilitiesModal {
    display: flex;
    margin-right: 2rem;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 24px;
      background-color: var(--utilities-btn-bg);
      color: #5f8ab6;
      border: 0.1rem #2a4075 solid;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      span {
        transform: rotateZ(30deg);
      }
    }
  }
}

.settingsModal {
  & > div:nth-child(2) {
    background-color: var(--bgColor);
    border: 1px solid wheat;


    & > div {
      background-color: var(--bgColor);

      & > div {
        color: wheat;
        font-size: 1.2rem;
      }
    }

    & > div:nth-child(2) input{
      background-color: var(--cardTable);
      border-color: wheat;
      color: white;
      font-size: 1rem;
    }

    & > div:last-child button{
      border: 3px solid var(--border);
      background-color: var(--bgButton);
      color: black;
      font-weight: 600;
      font-size: 1.1rem;
      height: unset;
    }
  }
}

@media (max-width: 458px) {
  .brand {
    display: none;
  }
  .headerContainer > div:first-child {
    padding: 0 0.5rem;
  }
}
