.headerContainer {
  background-color: var(--footerBg);
  height: 5rem;
  border-bottom: 0.2rem solid #21215a;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div:first-child {
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--bgButtonHover);
    background-color: var(--border);
    padding: 0 1rem 0 0.5rem;
    margin-left: 1rem;

    & > h1 {
      margin-left: 0.5rem;
      color: var(--baseFontColor);
    }
  }

  & > div:nth-child(2) {
    height: 2.7rem;
    width: 14.3rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--bgButtonHover);
    background-color: var(--bgSelect);
    padding: 0 1rem 0 0.5rem;
    margin-right: 2rem;
    justify-content: space-around;
  }
}

.selectedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.switchBtn {
  background: #2b2e46;
}
