.headerContainer {
  background-color: #1d1d4f;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.2rem solid #21215a;
}

.headerContainer > h1 {
  margin-left: 3rem;
  color: #3399ff;
}
