.selectContainer {
  display: flex;
  flex-direction: column;
  z-index: 5;
  font-family: 'Roboto';
}

.select {
  color: var(--bgButton);
  border: 0.1rem #2a4075 solid;
  width: 9rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  background-color: var(--language-select-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    margin-left: 1rem;
  }

  & span:last-child {
    margin-right: 1rem;
    color: var(--bgButton);
    font-weight: bold;
    font-size: medium;
  }
}

.selectOptions {
  color: var(--selectOptions);
  width: 9rem;
  position: absolute;
  top: 3.3rem;
  background-color: var(--bgSelect);
  cursor: pointer;
}

.optionLanguage {
  border: 0.1rem var(--borderSelect) solid;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

.optionLanguage:first-child {
  border-top: none;
}

.optionLanguage:last-child {
  border-bottom: 0.1rem var(--borderSelect) solid;
}

.optionLanguage:hover {
  background-color: var(--optionHoverBg);
  transition: 0.2s;
}
