.homeContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5.2rem + 0.1px);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.homeContainer > div:first-child {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  font-size: larger;
  align-items: center;
}
.homeContainer > div:first-child > div {
  display: flex;
  flex-direction: column;
  padding: 3rem 8rem 3rem 5rem;
  font-size: larger;
  align-items: center;
}

.homeContainer > div:first-child > div > h1 {
  color: var(--bgButton);
  height: fit-content;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}
@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes ccircle {
  from {
    -webkit-transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
  }
}

.homeContainer > div:nth-child(2) {
  background-color: var(--home-carrusel-bg);
  justify-content: center;
  align-items: center;
  display: flex;
  height: calc(100vh - 5.1rem);
  position: absolute;
  bottom: 0;
  z-index: 4;
  right: 0;
  max-width: 50vw;
  min-width: 50vw;
  overflow: hidden;

  & > div {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    animation: circle 10s infinite linear;

    & > button:nth-child(1) {
      top: 12.3rem;
      left: -1.5rem;
    }
    & > button:nth-child(2) {
      top: 14.7rem;
      left: 0.2rem;
    }
    & > button:nth-child(3) {
      top: 15.3rem;
      left: 5.6rem;
    }
    & > button:nth-child(4) {
      top: 12.7rem;
      left: 13.2rem;
    }
    & > button:nth-child(5) {
      top: 5.3rem;
      left: 20.9rem;
    }
    & > button:nth-child(6) {
      top: -4.9rem;
      left: 26.6rem;
    }
    & > button:nth-child(7) {
      top: -12.3rem;
      left: 27.5rem;
      opacity: 0;
    }
    & > button:nth-child(8) {
      top: -22.4rem;
      left: 28.4rem;
    }
    & > button:nth-child(9) {
      top: -35.1rem;
      left: 26.3rem;
    }
    & > button:nth-child(10) {
      top: -45.7rem;
      left: 20.7rem;
    }
    & > button:nth-child(11) {
      top: -52.5rem;
      left: 13.4rem;
    }
    & > button:nth-child(12) {
      top: -55.3rem;
      left: 5.9rem;
    }
    & > button:nth-child(13) {
      top: -55rem;
      left: 0.5rem;
    }

    & > button {
      animation: ccircle 10s infinite linear;
      position: relative;
      height: 5rem;
      width: 3rem;
      border-radius: 0.6rem;
      border: 3px solid var(--border);
      background-color: var(--home-carrusel-btn-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      font-weight: 600;
      font-size: 1.4rem;
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        height: 3.5rem;
        width: 1.8rem;
        border: 2px solid var(--border);
        border-radius: 0.6rem;
      }
    }
  }
}

.button {
  margin-top: 3vw;
}

.button > button {
  width: 20rem;
  height: 4rem;
  background-color: var(--home-create-room-btn);
  border-radius: 0.3rem;
  border: 0.1rem solid;
  border-color: var(--home-create-room-btn-border);
  font-family: 'Roboto', sans-serif;
  font-size: large;

  span {
    color: var(--home-create-room-btn-text);
  }
}

.button > button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: white;
  background-color: var(--bgButtonHover);
  border: 0.2rem solid wheat !important;
  font-size: large;
}

.coffee {
  position: absolute;
  right: 23%;
  top: 46.1%;
  z-index: 99;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--bgButtonHover);
  background-color: var(--home-carrusel-btn-bg);
  padding: 0.5rem;
  font-size: 2rem;
}

.wave {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: calc(100vh - 5.1rem);
  width: 14rem;
  right: 45vw;
  svg path {
    fill: var(--home-carrusel-bg);
  }
}

@media (max-width: 992px) {
  .wave,
  .homeContainer > div:nth-child(2),
  .coffee {
    display: none;
  }
  .homeContainer > div:first-child > div {
    height: 100%;
    justify-content: space-evenly;
    padding: 3rem 5rem;
  }
}
