@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.bodyContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d3d;
}

.bodyContainer div {
  margin-top: 1rem;
}

.bodyContainer div > img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 1rem;
}

.buttonArea > button {
  margin: 5rem 1rem 3rem 1rem;
}

.cardArea {
  background-color: #1d1d3d;
  background-image: radial-gradient(#1d1d4f 9px, transparent 10px),
    repeating-radial-gradient(
      #1d1d4f 0,
      #1d1d4f 4px,
      transparent 5px,
      transparent 20px,
      #1d1d4f 21px,
      #1d1d4f 25px,
      transparent 26px,
      transparent 50px
    );
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  width: 30rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #1d1d4f;
  border-radius: 2rem;
}

.cardArea > button {
  width: 10rem;
  height: 3rem;
  background-color: #3399ff;
  border-radius: 0.3rem;
  border: 0.1rem solid;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

.cardArea > button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: white;
  background-color: #19376d;
  border: 0.2rem solid #3399ff;
}

.buttonArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: -7rem;
}

.buttonArea > button {
  height: 8rem;
  width: 9rem;
  border-radius: 0.6rem;
  border: 0.1rem solid;
  background-color: #3399ff;
  font-size: large;
}

.buttonArea > button:hover {
  transition: 0.3s;
  transform: translateY(-1.5rem);
}

.buttonArea:hover {
  transition: 0.3s;
  bottom: -2.5rem;
}

.userArea {
  background-color: #1e1e52c0;
  width: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3399ff;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

.selectedCard {
  border-radius: 0.6rem;
  border: 0.1rem solid;
  background-color: #3399ff;
  color: black;
  width: 2rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
