.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.ant-switch.ant-switch-checked {
  background: #384391;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: #384391;
}

.d-none {
    display: none;
}
